html {
  font-family: Helvetica;
  font-size: 18px;
  /* note: the 'max' screen is set up for 960 pixels wide.*/
}
.container {
  display: flex;
  margin: auto;
  align-items: center;
  width: 960px;
}
.container span {
  display: flex;
  font-size: 1rem;
  /*padding-left: 1rem;*/
}
/*  Formatting for the top logo bar - */
.logo {
  background-color: black;
  color: white;
}
.logo .container {
  height: 2.75rem;
}
.logo .container span {
  padding-left: 1rem;
}
.container img {
  display: block;
  height: 1.5rem;
  padding-left: 0.5rem;
}
#logotext {
  text-transform: uppercase;
}
/* Formatting for the banner - */
.banner {
  display: block;
  width: 100%;
  height: 25rem;
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .container {
  height: 15rem;
}
.container .message {
  display: flex;
  flex-direction: column;
  width: 26rem; /* spec says 20 rem...*/
  margin-top: 16.5rem; /* spec says 9 rem...*/
  background-color: black;
  color: white;
}
.message h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 3.3rem auto 1.8rem 3rem;
}
.message h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4rem;
  margin: 0 auto 2.4rem 3rem;
}
/* Formatting for the navigation bar */
.navigation {
  background-color: firebrick;
  color: white;
  height: 2.75rem;
  display: flex;
  align-items: center;
}
.navigation .container {
  justify-content: space-between;
  padding: 0;
}
nav .mini {
  display: none;
}
/* Products section formatting */
.products {
  height: 21rem;
  display: flex;
  align-items: center;
}
.products .container {
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 29%;
  height: 15rem;
  justify-content: center;
}
.item img {
  height: 9rem;
  padding: 2rem;
  object-fit: contain;
}
.itemtext {
  display: block;
  background-color: black;
  color: white;
  height: 2rem;
  align-items: center;
  justify-content: center;
}
/* Coordinates formatting */
.coordinates {
  height: 11rem;
  display: flex;
  align-items: center;
}
.coordinates .container {
  justify-content: space-between;
}
.detail {
  display: block;
  width: 35%;
}
.category {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 3rem;
  padding-left: 2rem;
}
/* Footer formatting */
.footer {
  height: 11.5rem;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
.footer .container {
  justify-content: flex-start;
}
